
@import '../App.scss';
  
.breadcrumb-container {
  max-width: $max-width;
  margin: $margin-small auto;
  
}

.breadcrumb {
  font-size: $breadcrumb-font;
  color: $gray-40;
  align-items: center;
  display: flex;
  

  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-image: url('../right-arrow.png');
    li {
      float: left;
      margin: 0 0 0  $margin-large ;
        &:last-child {
          font-weight: bold;
         
        }
       
      }
  }
 
  
}